[package]
name = "agnt-app"
version = "0.1.0"
edition = "2024"
license.workspace = true
repository.workspace = true
homepage.workspace = true
authors.workspace = true

[dependencies]
directories = "6.0.0"
thiserror = "2.0.18"
